{
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto"
}
